# Wrangling Soil Test data from University of Kentucky's Soil Lab

Use Microsoft Access to export data into CSV text file with FIPS code add and quary to select just County by County name. Export as soildata_fips.txt.

#### import python libraries

In [48]:
import pandas as pd
import numpy as np
from pathlib import Path
import warnings

#### set file path to get data to work on

In [49]:
filePath = Path('data')
fileOut = Path('project-data')
file_soil = filePath.joinpath('soildata_fips.txt')

#### Read data into pandas

In [50]:
soil = pd.read_csv(file_soil, dtype='str')

#### Check that file is read into memory

In [51]:
soil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190126 entries, 0 to 1190125
Data columns (total 14 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   FIPS_NO  1190126 non-null  object
 1   YEAR     1190126 non-null  object
 2   FM       1190052 non-null  object
 3   COUNTY   1190126 non-null  object
 4   AREA     1190126 non-null  object
 5   PH       1187607 non-null  object
 6   BUPH     1056246 non-null  object
 7   P        1187473 non-null  object
 8   K        1187494 non-null  object
 9   CA       969266 non-null   object
 10  MG       969725 non-null   object
 11  ZN       967041 non-null   object
 12  ACRES    525128 non-null   object
 13  CROP     1183431 non-null  object
dtypes: object(14)
memory usage: 127.1+ MB

In [52]:
soil.tail()

,FIPS_NO,YEAR,FM,COUNTY,AREA,PH,BUPH,P,K,CA,MG,ZN,ACRES,CROP
1190121,239.00,2019.00,A,WOODFORD,Bluegrass,5.00,6.30,62.00,319.00,1489.00,223.00,3.50,1.00,Wildlife Food Plot
1190122,239.00,2019.00,A,WOODFORD,Bluegrass,5.90,6.70,46.00,257.00,5247.00,268.00,2.10,2.00,Wildlife Food Plot
1190123,239.00,2019.00,A,WOODFORD,Bluegrass,6.80,7.00,75.00,243.00,12047.00,281.00,1.20,2.00,Wildlife Food Plot
1190124,239.00,2019.00,A,WOODFORD,Bluegrass,5.30,6.60,60.00,407.00,3304.00,396.00,2.80,NaN,Wildlife Food Plot
1190125,239.00,2019.00,A,WOODFORD,Bluegrass,5.00,6.30,59.00,377.00,4341.00,349.00,2.00,1.50,Wildlife Food Plot

#### Remove decimal from FIPS_NO and Year, can't convert to an integer because of pivot table columns later in processing. Convert PH, BUPH, P, K, and Acres into Float type.

In [53]:
df = soil.copy()

In [54]:
df.FIPS_NO = df.FIPS_NO.astype('str').replace('\.00','',regex=True)
df.YEAR = df.YEAR.astype('str').replace('\.00','',regex=True)
df.PH = df.PH.astype('float')
df.BUPH = df.BUPH.astype('float')
df.P = df.P.astype('float')
df.K = df.K.astype('float')
df.ACRES = df.ACRES.astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190126 entries, 0 to 1190125
Data columns (total 14 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   FIPS_NO  1190126 non-null  object
 1   YEAR     1190126 non-null  object
 2   FM       1190052 non-null  object
 3   COUNTY   1190126 non-null  object
 4   AREA     1190126 non-null  object
 5   PH       1187607 non-null  float64
 6   BUPH     1056246 non-null  float64
 7   P        1187473 non-null  float64
 8   K        1187494 non-null  float64
 9   CA       969266 non-null   object
 10  MG       969725 non-null   object
 11  ZN       967041 non-null   object
 12  ACRES    525128 non-null   float64
 13  CROP     1183431 non-null  object
dtypes: float64(5), object(9)
memory usage: 127.1+ MB

In [55]:
df.info()
print(df.head())
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190126 entries, 0 to 1190125
Data columns (total 14 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   FIPS_NO  1190126 non-null  object
 1   YEAR     1190126 non-null  object
 2   FM       1190052 non-null  object
 3   COUNTY   1190126 non-null  object
 4   AREA     1190126 non-null  object
 5   PH       1187607 non-null  float64
 6   BUPH     1056246 non-null  float64
 7   P        1187473 non-null  float64
 8   K        1187494 non-null  float64
 9   CA       969266 non-null   object
 10  MG       969725 non-null   object
 11  ZN       967041 non-null   object
 12  ACRES    525128 non-null   float64
 13  CROP     1183431 non-null  object
dtypes: float64(5), object(9)
memory usage: 127.1+ MB
  FIPS_NO  YEAR FM COUNTY                AREA    PH  BUPH      P      K  \
0       1  1990  A  ADAIR  Eastern Pennyroyal  7.15  7.23   28.0  158.0
1       1  1990  A  ADAIR  Eastern Pennyroyal  6.95  7.22   88.0  134.0
2       1  1990  A  ADAIR  Eastern Pennyroyal  6.26  6.94   70.0  256.0
3       1  1990  A  ADAIR  Eastern Pennyroyal  5.67  6.69  161.0  611.0
4       1  1990  A  ADAIR  Eastern Pennyroyal  7.26  7.47  105.0  315.0

        CA      MG   ZN  ACRES     CROP
0      NaN     NaN  NaN   18.0  Alfalfa
1  2890.00  159.00  NaN   15.0  Alfalfa
2      NaN     NaN  NaN   16.0  Alfalfa
3      NaN     NaN  NaN    6.0  Alfalfa
4  2940.00  137.00  NaN   25.0  Alfalfa

,FIPS_NO,YEAR,FM,COUNTY,AREA,PH,BUPH,P,K,CA,MG,ZN,ACRES,CROP
1190121,239,2019,A,WOODFORD,Bluegrass,5.0,6.3,62.0,319.0,1489.00,223.00,3.50,1.0,Wildlife Food Plot
1190122,239,2019,A,WOODFORD,Bluegrass,5.9,6.7,46.0,257.0,5247.00,268.00,2.10,2.0,Wildlife Food Plot
1190123,239,2019,A,WOODFORD,Bluegrass,6.8,7.0,75.0,243.0,12047.00,281.00,1.20,2.0,Wildlife Food Plot
1190124,239,2019,A,WOODFORD,Bluegrass,5.3,6.6,60.0,407.0,3304.00,396.00,2.80,NaN,Wildlife Food Plot
1190125,239,2019,A,WOODFORD,Bluegrass,5.0,6.3,59.0,377.0,4341.00,349.00,2.00,1.5,Wildlife Food Plot

#### Drop CA, MG, ZN

In [56]:
df = df.drop(['CA','MG','ZN'], axis=1)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190126 entries, 0 to 1190125
Data columns (total 11 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   FIPS_NO  1190126 non-null  object
 1   YEAR     1190126 non-null  object
 2   FM       1190052 non-null  object
 3   COUNTY   1190126 non-null  object
 4   AREA     1190126 non-null  object
 5   PH       1187607 non-null  float64
 6   BUPH     1056246 non-null  float64
 7   P        1187473 non-null  float64
 8   K        1187494 non-null  float64
 9   ACRES    525128 non-null   float64
 10  CROP     1183431 non-null  object
dtypes: float64(5), object(6)
memory usage: 99.9+ MB

#### Check the maximum and minimum values for P and K

In [58]:
print("max P =", df.P.max(), "min P =",df.P.min())
print("max K" , df.K.max(), "min K =", df.K.min())

max P = 21658.0 min P = -9.0
max K 60452.0 min K = -26.0

#### Remove values less than zero and above 9999

In [59]:
df = df[~(df['P'] < 0)]
df = df[~(df['K'] < 0)]
df = df[~(df['P'] >= 9999)]
df = df[~(df['K'] >= 9999)]

In [60]:
print("max P =", df.P.max(), "min P =",df.P.min())
print("max K" , df.K.max(), "min K =", df.K.min())

max P = 9778.0 min P = 0.0
max K 9964.0 min K = 1.0

#### Select agricultural "A" and commercial "C" types from FM column. Append df together.

In [61]:
df1 = df.loc[(df['FM'] == 'A')]
df2 = df.loc[(df['FM'] == 'C')]
df3 = df1.append(df2, ignore_index=True)

In [62]:
print(df1.info())
print(df2.info())
print(df3.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 941637 entries, 0 to 1190125
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   FIPS_NO  941637 non-null  object
 1   YEAR     941637 non-null  object
 2   FM       941637 non-null  object
 3   COUNTY   941637 non-null  object
 4   AREA     941637 non-null  object
 5   PH       940288 non-null  float64
 6   BUPH     836405 non-null  float64
 7   P        940284 non-null  float64
 8   K        940295 non-null  float64
 9   ACRES    511570 non-null  float64
 10  CROP     938347 non-null  object
dtypes: float64(5), object(6)
memory usage: 86.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 21910 entries, 153 to 1190012
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   FIPS_NO  21910 non-null  object
 1   YEAR     21910 non-null  object
 2   FM       21910 non-null  object
 3   COUNTY   21910 non-null  object
 4   AREA     21910 non-null  object
 5   PH       21882 non-null  float64
 6   BUPH     20540 non-null  float64
 7   P        21881 non-null  float64
 8   K        21883 non-null  float64
 9   ACRES    7362 non-null   float64
 10  CROP     21858 non-null  object
dtypes: float64(5), object(6)
memory usage: 2.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 963547 entries, 0 to 963546
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   FIPS_NO  963547 non-null  object
 1   YEAR     963547 non-null  object
 2   FM       963547 non-null  object
 3   COUNTY   963547 non-null  object
 4   AREA     963547 non-null  object
 5   PH       962170 non-null  float64
 6   BUPH     856945 non-null  float64
 7   P        962165 non-null  float64
 8   K        962178 non-null  float64
 9   ACRES    518932 non-null  float64
 10  CROP     960205 non-null  object
dtypes: float64(5), object(6)
memory usage: 80.9+ MB
None

#### Drop null values from CROP, P, K.

In [63]:
df3.drop(df3[df3['CROP'].isnull()].index, inplace=True)
df3.drop(df3[df3['P'].isnull()].index, inplace=True)
df3.drop(df3[df3['K'].isnull()].index, inplace=True)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 958826 entries, 0 to 963546
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   FIPS_NO  958826 non-null  object
 1   YEAR     958826 non-null  object
 2   FM       958826 non-null  object
 3   COUNTY   958826 non-null  object
 4   AREA     958826 non-null  object
 5   PH       958813 non-null  float64
 6   BUPH     854104 non-null  float64
 7   P        958826 non-null  float64
 8   K        958826 non-null  float64
 9   ACRES    517097 non-null  float64
 10  CROP     958826 non-null  object
dtypes: float64(5), object(6)
memory usage: 87.8+ MB

#### Resort and index dataframe.

In [64]:
df = df3[['FIPS_NO','COUNTY','AREA','YEAR','CROP','ACRES', 'PH', 'BUPH', 'P', 'K', ]]
order_by_cols = ['FIPS_NO','YEAR','CROP']
df = df.sort_values(by=order_by_cols, ascending=[True,True,True]).copy()
df.reset_index(drop=True,inplace=True)
df.head()

,FIPS_NO,COUNTY,AREA,YEAR,CROP,ACRES,PH,BUPH,P,K
0,1,ADAIR,Eastern Pennyroyal,1990,Alfalfa,18.0,7.15,7.23,28.0,158.0
1,1,ADAIR,Eastern Pennyroyal,1990,Alfalfa,15.0,6.95,7.22,88.0,134.0
2,1,ADAIR,Eastern Pennyroyal,1990,Alfalfa,16.0,6.26,6.94,70.0,256.0
3,1,ADAIR,Eastern Pennyroyal,1990,Alfalfa,6.0,5.67,6.69,161.0,611.0
4,1,ADAIR,Eastern Pennyroyal,1990,Alfalfa,25.0,7.26,7.47,105.0,315.0

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958826 entries, 0 to 958825
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   FIPS_NO  958826 non-null  object
 1   COUNTY   958826 non-null  object
 2   AREA     958826 non-null  object
 3   YEAR     958826 non-null  object
 4   CROP     958826 non-null  object
 5   ACRES    517097 non-null  float64
 6   PH       958813 non-null  float64
 7   BUPH     854104 non-null  float64
 8   P        958826 non-null  float64
 9   K        958826 non-null  float64
dtypes: float64(5), object(5)
memory usage: 73.2+ MB

#### Find unique CROP types.

In [66]:
croptypes = df.CROP.unique()
croptypes

array(['Alfalfa', 'Alfalfa/Cool Season', 'Burley Tobacco', 'Clover/Grass',
       'Cole Crops (broccoli, etc.)', 'Corn', 'Corn, Sweet', 'Cucumbers',
       'Fescue', 'No Info Given', 'Orchardgrass', 'Other Vegetables',
       'Peppers (bell & pimento)', 'Red Clover', 'Timothy', 'Tomatoes',
       'White Clover', 'White Clover/Grass', 'Rye', 'Soybeans',
       'Tobacco Beds', 'Wheat', 'Oats', 'Red Clover/Grass',
       'Warm Season Grass', 'Blueberries', 'Fescue/Lespedeza (multiple)',
       'Forage Sorghum', 'Strawberries', 'Cool Season Grass',
       'Evergreen Shrubs, Broadleaved', 'Sudangrass',
       'Timothy/Red Clover', 'Lespedeza', 'Other Fruit & Nuts',
       'Small Grains/Corn', 'Small Grains/Soybeans', 'Squash & Pumpkins',
       'Birdsfoot Trefoil', 'Grain Sorghum', 'Lespedeza/Grass', 'Annuals',
       'Fescue/Lespedeza', 'Forage Crops', 'Millet',
       'Orchardgrass/Red Clover', 'Apples', 'Grapes', 'Peaches',
       'Small Grains', 'Bermudagrass, common', 'Sweet Potatoes', 'Other',
       'Azaleas', 'Brambles', 'Wheat/Soybeans', 'Potatoes',
       'Warm Season Annual Grass', 'Bermudagrass, improved', 'Sunflower',
       'Fescue/White Clover', 'Sorghum/Sudangras', 'Cherries, Tart',
       'Pears', 'Watermelons', 'Root Crops (beets, carrots,etc.)',
       'Switchgrass', 'Muskmelons (cantaloupes)',
       'Native Grassland Restoration', 'Wildlife Food Plot',
       'Beans (snap,dry,lima,etc.)', 'Greens (collards, kale, etc.)',
       'Okra', 'Asparagus', 'Eggplant', 'Hemp', 'Rhubarb',
       'Sorghum Sudangrass', 'Crownvetch', 'Canola/Soybeans',
       'Dark Tobacco', 'Grain Crops (multiple)', 'Bluestem', 'Walnuts',
       'Indiangrass', 'Warm Season Native Grass', 'Deciduous Trees',
       'Conifers (not pines or junipers)', 'Conifers, pines', 'Pecans',
       'Hollies', 'Orchardgrass/White Clover', 'Perrenials (not bulbs)',
       'Bluegrass', 'Onions (green & bulb)', 'Canola', 'Rye/Soybeans',
       'Buffer or Filter Strip', 'Triticale', 'Bulbs', 'Other Flowers',
       'Other Nursery plants', 'Deciduous Shrubs',
       'Evergreen Trees, Broadleaved', 'Oats/Soybeans',
       'Currants and Gooseberries', 'Barley', 'Bluegrass/White Clover',
       'Side-oats grama', 'Wheat/Corn', 'Rhododendrons', 'Plums',
       'Cool Peas', 'Southern Peas', 'Barley/Soybeans', 'Unknown',
       'Conifers, junipers', 'Triticale/Soybeans'], dtype=object)

## Select CROP based on AGR-1 crop types.

## Corn

In [67]:
df_corn = df.loc[(df['CROP'] == 'Corn')]
print(df_corn.info())
df_corn.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173155 entries, 155 to 958668
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   FIPS_NO  173155 non-null  object
 1   COUNTY   173155 non-null  object
 2   AREA     173155 non-null  object
 3   YEAR     173155 non-null  object
 4   CROP     173155 non-null  object
 5   ACRES    89557 non-null   float64
 6   PH       173155 non-null  float64
 7   BUPH     148991 non-null  float64
 8   P        173155 non-null  float64
 9   K        173155 non-null  float64
dtypes: float64(5), object(5)
memory usage: 14.5+ MB
None

,FIPS_NO,COUNTY,AREA,YEAR,CROP,ACRES,PH,BUPH,P,K
155,1,ADAIR,Eastern Pennyroyal,1990,Corn,15.0,7.13,7.29,37.0,146.0
156,1,ADAIR,Eastern Pennyroyal,1990,Corn,12.0,7.24,7.29,93.0,105.0
157,1,ADAIR,Eastern Pennyroyal,1990,Corn,27.0,5.91,6.85,25.0,252.0
158,1,ADAIR,Eastern Pennyroyal,1990,Corn,14.0,5.81,6.74,24.0,121.0
159,1,ADAIR,Eastern Pennyroyal,1990,Corn,7.0,5.39,6.67,92.0,283.0

#### Create dataframe for nutrients phosphorus (P) and potassium (K).

In [68]:
df_corn_nu = df_corn[['FIPS_NO','COUNTY','YEAR','P','K']].copy()
print(df_corn_nu.head())

    FIPS_NO COUNTY  YEAR     P      K
155       1  ADAIR  1990  37.0  146.0
156       1  ADAIR  1990  93.0  105.0
157       1  ADAIR  1990  25.0  252.0
158       1  ADAIR  1990  24.0  121.0
159       1  ADAIR  1990  92.0  283.0

#### Corn,  Set categories for P and K values to very low, low, medium, high, very high. Base values from AGR-1.

#### Categories for P
        Cat      Title       Break
        -------------------------------------
        VL       very low    P<= 5
        L        low         P>5 & P<=27
        M        medium      P>27 & P<=60
        H        high        P>60

#### Categories for K
        Cat      Title      Break
       --------------------------------------
        VL       very low   K< 100
        L        low        K>=100 & K <=190
        M        medium     K>=191 & K <=300
        H        high       K>=301 & K <=420
        VH       very high  K>420

In [69]:
df_corn_nu['CAT_P'] = ''
df_corn_nu['CAT_P'] = np.where(df_corn_nu.P <= 5, 'VL', df_corn_nu.CAT_P)
df_corn_nu['CAT_P'] = np.where(((df_corn_nu.P > 5) & (df_corn_nu.P <= 27)), 'L', df_corn_nu.CAT_P)
df_corn_nu['CAT_P'] = np.where(((df_corn_nu.P > 27) & (df_corn_nu.P <= 60)), 'M', df_corn_nu.CAT_P)
df_corn_nu['CAT_P'] = np.where((df_corn_nu.P > 60), 'H', df_corn_nu.CAT_P)
df_corn_nu.head()

    FIPS_NO COUNTY  YEAR     P      K CAT_P
155       1  ADAIR  1990  37.0  146.0     M
156       1  ADAIR  1990  93.0  105.0     H
157       1  ADAIR  1990  25.0  252.0     L
158       1  ADAIR  1990  24.0  121.0     L
159       1  ADAIR  1990  92.0  283.0     H

In [70]:
df_corn_nu['CAT_K'] = ''
df_corn_nu['CAT_K'] = np.where(df_corn_nu.K <= 100, 'VL', df_corn_nu.CAT_K)
df_corn_nu['CAT_K'] = np.where(((df_corn_nu.K > 100) & (df_corn_nu.K <= 190)), 'L', df_corn_nu.CAT_K)
df_corn_nu['CAT_K'] = np.where(((df_corn_nu.K > 190) & (df_corn_nu.K <= 300)), 'M', df_corn_nu.CAT_K)
df_corn_nu['CAT_K'] = np.where(((df_corn_nu.K > 300) & (df_corn_nu.K <= 420)), 'H', df_corn_nu.CAT_K)
df_corn_nu['CAT_K'] = np.where((df_corn_nu.K > 420), 'VH', df_corn_nu.CAT_K)
df_corn_nu.head()

    FIPS_NO COUNTY  YEAR     P      K CAT_P CAT_K
155       1  ADAIR  1990  37.0  146.0     M     L
156       1  ADAIR  1990  93.0  105.0     H     L
157       1  ADAIR  1990  25.0  252.0     L     M
158       1  ADAIR  1990  24.0  121.0     L     L
159       1  ADAIR  1990  92.0  283.0     H     M

#### Create pivot table to sort categories by year and County for each nutrient.

In [71]:
warnings.filterwarnings("ignore")
df_corn_p = np.round( df_corn_nu.pivot_table(index='COUNTY', columns=['YEAR', 'CAT_P'], values=['P'],aggfunc=(np.average,len),fill_value=0),2)
df_corn_k = np.round( df_corn_nu.pivot_table(index='COUNTY', columns=['YEAR', 'CAT_K'], values=['K'],aggfunc=(np.average,len),fill_value=0),2)
print(df_corn_p.head())
print(df_corn_k.head())

               P                                                               \
         average
YEAR        1990                       1991                       1992
CAT_P          H      L      M   VL       H      L      M   VL       H      L
COUNTY
ADAIR     119.47  17.50  39.91  0.0  171.62  21.00  45.75  0.0  138.56  23.25
ALLEN     115.67  17.00  42.67  0.0  130.78  18.25  44.50  0.0  147.89  19.20
ANDERSON  244.80  10.67  55.00  5.0  333.94  22.00  44.78  0.0  290.56  20.00
BALLARD   109.08   0.00  48.25  0.0  108.33  18.50  42.79  0.0  107.22  20.50
BARREN    121.90  18.11  42.50  0.0  120.20  14.22  42.66  0.0  130.43  17.67

          ...
          ...  len
YEAR      ... 2017    2018           2019
CAT_P     ...    M VL    H  L   M VL    H   L   M VL
COUNTY    ...
ADAIR     ...   20  0   31  7  28  0   51  11  15  1
ALLEN     ...    4  0    1  0   2  0    1   4   2  0
ANDERSON  ...    0  0    2  2   2  0    8   0   1  0
BALLARD   ...   10  0    7  0  17  0   12   4  23  0
BARREN    ...    4  0   10  3   9  0    2   1   8  1

[5 rows x 240 columns]
               K                                                        \
         average
YEAR        1990                                  1991
CAT_K          H       L       M      VH    VL       H       L       M
COUNTY
ADAIR     357.67  139.42  252.67  439.00  89.5  360.20  143.25  241.83
ALLEN     362.50  141.60  252.62  519.00  58.0  329.55  173.33  250.94
ANDERSON  367.00  150.40  266.00  525.50  89.0  335.11  174.33  243.36
BALLARD   335.00  159.80  251.64  501.00   0.0  339.00  170.88  243.43
BARREN    352.28  163.33  243.41  485.22   0.0  347.21  156.61  242.31

                        ...
                        ...  len
YEAR                    ... 2018               2019
CAT_K         VH    VL  ...    H   L   M VH VL    H   L   M VH VL
COUNTY                  ...
ADAIR     527.00  88.5  ...    6  20  33  1  6    7  35  28  0  8
ALLEN     498.40   0.0  ...    0   0   2  0  1    0   4   1  0  2
ANDERSON  629.00   0.0  ...    0   1   3  1  1    0   5   3  1  0
BALLARD   501.00   0.0  ...    3   5  15  1  0    1  14  24  0  0
BARREN    486.05  79.0  ...    7   4   8  3  0    5   2   3  1  1

[5 rows x 300 columns]

## Unpivot table and save to CSV file

#### Create column names from pivot table data

In [72]:
df_corn_p.columns
df_corn_k.columns

MultiIndex([('K', 'average', '1990',  'H'),
            ('K', 'average', '1990',  'L'),
            ('K', 'average', '1990',  'M'),
            ('K', 'average', '1990', 'VH'),
            ('K', 'average', '1990', 'VL'),
            ('K', 'average', '1991',  'H'),
            ('K', 'average', '1991',  'L'),
            ('K', 'average', '1991',  'M'),
            ('K', 'average', '1991', 'VH'),
            ('K', 'average', '1991', 'VL'),
            ...
            ('K',     'len', '2018',  'H'),
            ('K',     'len', '2018',  'L'),
            ('K',     'len', '2018',  'M'),
            ('K',     'len', '2018', 'VH'),
            ('K',     'len', '2018', 'VL'),
            ('K',     'len', '2019',  'H'),
            ('K',     'len', '2019',  'L'),
            ('K',     'len', '2019',  'M'),
            ('K',     'len', '2019', 'VH'),
            ('K',     'len', '2019', 'VL')],
           names=[None, None, 'YEAR', 'CAT_K'], length=300)

In [73]:
df_corn_p.columns = list(map("_".join,df_corn_p.columns))
df_corn_k.columns = list(map("_".join,df_corn_k.columns))

In [74]:
print(df_corn_p.columns)
print(df_corn_k.columns)

Index(['P_average_1990_H', 'P_average_1990_L', 'P_average_1990_M',
       'P_average_1990_VL', 'P_average_1991_H', 'P_average_1991_L',
       'P_average_1991_M', 'P_average_1991_VL', 'P_average_1992_H',
       'P_average_1992_L',
       ...
       'P_len_2017_M', 'P_len_2017_VL', 'P_len_2018_H', 'P_len_2018_L',
       'P_len_2018_M', 'P_len_2018_VL', 'P_len_2019_H', 'P_len_2019_L',
       'P_len_2019_M', 'P_len_2019_VL'],
      dtype='object', length=240)
Index(['K_average_1990_H', 'K_average_1990_L', 'K_average_1990_M',
       'K_average_1990_VH', 'K_average_1990_VL', 'K_average_1991_H',
       'K_average_1991_L', 'K_average_1991_M', 'K_average_1991_VH',
       'K_average_1991_VL',
       ...
       'K_len_2018_H', 'K_len_2018_L', 'K_len_2018_M', 'K_len_2018_VH',
       'K_len_2018_VL', 'K_len_2019_H', 'K_len_2019_L', 'K_len_2019_M',
       'K_len_2019_VH', 'K_len_2019_VL'],
      dtype='object', length=300)

In [75]:
df_corn_p.columns = df_corn_p.columns.str.replace("P_average_", "")
df_corn_p.columns = df_corn_p.columns.str.replace("P_len", "count")
df_corn_k.columns = df_corn_k.columns.str.replace("K_average_","")
df_corn_k.columns = df_corn_k.columns.str.replace("K_len","count")
print(df_corn_p.columns)
print(df_corn_k.columns)

Index(['1990_H', '1990_L', '1990_M', '1990_VL', '1991_H', '1991_L', '1991_M',
       '1991_VL', '1992_H', '1992_L',
       ...
       'count_2017_M', 'count_2017_VL', 'count_2018_H', 'count_2018_L',
       'count_2018_M', 'count_2018_VL', 'count_2019_H', 'count_2019_L',
       'count_2019_M', 'count_2019_VL'],
      dtype='object', length=240)
Index(['1990_H', '1990_L', '1990_M', '1990_VH', '1990_VL', '1991_H', '1991_L',
       '1991_M', '1991_VH', '1991_VL',
       ...
       'count_2018_H', 'count_2018_L', 'count_2018_M', 'count_2018_VH',
       'count_2018_VL', 'count_2019_H', 'count_2019_L', 'count_2019_M',
       'count_2019_VH', 'count_2019_VL'],
      dtype='object', length=300)

#### Reindex unpivot table

In [76]:
df_corn_p = df_corn_p.reset_index()
df_corn_k = df_corn_k.reset_index()
print(df_corn_p.head())
print(df_corn_k.head())

     COUNTY  1990_H  1990_L  1990_M  1990_VL  1991_H  1991_L  1991_M  1991_VL  \
0     ADAIR  119.47   17.50   39.91      0.0  171.62   21.00   45.75      0.0
1     ALLEN  115.67   17.00   42.67      0.0  130.78   18.25   44.50      0.0
2  ANDERSON  244.80   10.67   55.00      5.0  333.94   22.00   44.78      0.0
3   BALLARD  109.08    0.00   48.25      0.0  108.33   18.50   42.79      0.0
4    BARREN  121.90   18.11   42.50      0.0  120.20   14.22   42.66      0.0

   1992_H  ...  count_2017_M  count_2017_VL  count_2018_H  count_2018_L  \
0  138.56  ...            20              0            31             7
1  147.89  ...             4              0             1             0
2  290.56  ...             0              0             2             2
3  107.22  ...            10              0             7             0
4  130.43  ...             4              0            10             3

   count_2018_M  count_2018_VL  count_2019_H  count_2019_L  count_2019_M  \
0            28              0            51            11            15
1             2              0             1             4             2
2             2              0             8             0             1
3            17              0            12             4            23
4             9              0             2             1             8

   count_2019_VL
0              1
1              0
2              0
3              0
4              1

[5 rows x 241 columns]
     COUNTY  1990_H  1990_L  1990_M  1990_VH  1990_VL  1991_H  1991_L  1991_M  \
0     ADAIR  357.67  139.42  252.67   439.00     89.5  360.20  143.25  241.83
1     ALLEN  362.50  141.60  252.62   519.00     58.0  329.55  173.33  250.94
2  ANDERSON  367.00  150.40  266.00   525.50     89.0  335.11  174.33  243.36
3   BALLARD  335.00  159.80  251.64   501.00      0.0  339.00  170.88  243.43
4    BARREN  352.28  163.33  243.41   485.22      0.0  347.21  156.61  242.31

   1991_VH  ...  count_2018_H  count_2018_L  count_2018_M  count_2018_VH  \
0   527.00  ...             6            20            33              1
1   498.40  ...             0             0             2              0
2   629.00  ...             0             1             3              1
3   501.00  ...             3             5            15              1
4   486.05  ...             7             4             8              3

   count_2018_VL  count_2019_H  count_2019_L  count_2019_M  count_2019_VH  \
0              6             7            35            28              0
1              1             0             4             1              0
2              1             0             5             3              1
3              0             1            14            24              0
4              0             5             2             3              1

   count_2019_VL
0              8
1              2
2              0
3              0
4              1

[5 rows x 301 columns]

#### Save categorized data to file. Separate by crop and nutrient type (P and K) with count by category.

In [77]:
file_out_p = fileOut.joinpath('corn_p_levels.csv')  # path and filename
df_corn_p.to_csv(file_out_p, index=False)  # output to csv
file_out_k = fileOut.joinpath('corn_k_levels.csv')  # path and filename
df_corn_k.to_csv(file_out_k, index=False)  # output to csv
print ('total number of records written to CSV:','{:,}'.format(len(df_corn_p)),'\n')
print ('total number of records written to CSV:','{:,}'.format(len(df_corn_k)),'\n')

total number of records written to CSV: 120

total number of records written to CSV: 120

## Soybeans

#### Create list to select Soybeans from database.

In [78]:
soy_sel = ['Soybeans', 'Small Grains/Soybeans', 'Wheat/Soybeans', 'Canola/Soybeans', 'Rye/Soybeans', 'Oats/Soybeans', 'Barley/Soybeans', 'Triticale/Soybeans']
soy_sel.sort()
print(soy_sel)

['Barley/Soybeans', 'Canola/Soybeans', 'Oats/Soybeans', 'Rye/Soybeans', 'Small Grains/Soybeans', 'Soybeans', 'Triticale/Soybeans', 'Wheat/Soybeans']

#### Select soybeans from dataset.

In [79]:
df_soy = df[df.CROP.isin(soy_sel)]
df_soy_nu = df_soy[['FIPS_NO','COUNTY','YEAR','P','K']].copy()
print(df_soy_nu.head())

     FIPS_NO COUNTY  YEAR      P      K
628        1  ADAIR  1991  238.0  318.0
1879       1  ADAIR  1995   83.0  173.0
1880       1  ADAIR  1995   59.0  150.0
1881       1  ADAIR  1995   65.0  152.0
1882       1  ADAIR  1995  148.0  317.0

#### Soybeans, Set categories for P and K values to very low, low, medium, high, very high. Base values from AGR-1.

#### Categories for P
        Cat      Title       Break
        -------------------------------------
        VL       very low    P<= 5
        L        low         P>5 & P<=27
        M        medium      P>27 & P<=60
        H        high        P>60

#### Categories for K
        Cat      Title      Break
       --------------------------------------
        VL       very low   K< 100
        L        low        K>=100 & K <=190
        M        medium     K>=191 & K <=300
        H        high       K>300

In [80]:
df_soy_nu['CAT_P'] = ''
df_soy_nu['CAT_P'] = np.where(df_soy_nu.P <= 5, 'VL', df_soy_nu.CAT_P)
df_soy_nu['CAT_P'] = np.where(((df_soy_nu.P > 5) & (df_soy_nu.P <= 27)), 'L', df_soy_nu.CAT_P)
df_soy_nu['CAT_P'] = np.where(((df_soy_nu.P > 27) & (df_soy_nu.P <= 60)), 'M', df_soy_nu.CAT_P)
df_soy_nu['CAT_P'] = np.where((df_soy_nu.P > 60), 'H', df_soy_nu.CAT_P)

df_soy_nu['CAT_K'] = ''
df_soy_nu['CAT_K'] = np.where(df_soy_nu.K <= 99, 'VL', df_soy_nu.CAT_K)
df_soy_nu['CAT_K'] = np.where(((df_soy_nu.K > 99) & (df_soy_nu.K <= 190)), 'L', df_soy_nu.CAT_K)
df_soy_nu['CAT_K'] = np.where(((df_soy_nu.K > 190) & (df_soy_nu.K <= 300)), 'M', df_soy_nu.CAT_K)
df_soy_nu['CAT_K'] = np.where((df_soy_nu.K > 300), 'H', df_soy_nu.CAT_K)

In [81]:
warnings.filterwarnings("ignore")
df_soy_p = np.round( df_soy_nu.pivot_table(index='COUNTY', columns=['YEAR', 'CAT_P'], values=['P'],aggfunc=(np.average,len),fill_value=0),2)
df_soy_k = np.round( df_soy_nu.pivot_table(index='COUNTY', columns=['YEAR', 'CAT_K'], values=['K'],aggfunc=(np.average,len),fill_value=0),2)

In [82]:
df_soy_p.columns
df_soy_k.columns
df_soy_p.columns = list(map("_".join,df_soy_p.columns))
df_soy_k.columns = list(map("_".join,df_soy_k.columns))
df_soy_p.columns = df_soy_p.columns.str.replace("P_average_", "")
df_soy_p.columns = df_soy_p.columns.str.replace("P_len", "count")
df_soy_k.columns = df_soy_k.columns.str.replace("K_average_","")
df_soy_k.columns = df_soy_k.columns.str.replace("K_len","count")
df_soy_p = df_soy_p.reset_index()
df_soy_k = df_soy_k.reset_index()
file_out_p = fileOut.joinpath('soy_p_levels.csv')  # path and filename
df_soy_p.to_csv(file_out_p, index=False)  # output to csv
file_out_k = fileOut.joinpath('soy_k_levels.csv')  # path and filename
df_soy_k.to_csv(file_out_k, index=False)  # output to csv
print ('total number of records written to CSV:','{:,}'.format(len(df_soy_p)),'\n')
print ('total number of records written to CSV:','{:,}'.format(len(df_soy_k)),'\n')

total number of records written to CSV: 117

total number of records written to CSV: 117

## Canola

#### Create list to select Canola from database.

In [83]:
canola_sel = ['Canola', 'Canola/Soybeans']
canola_sel.sort()
print(canola_sel)

['Canola', 'Canola/Soybeans']

#### Select Canola from dataset.

In [84]:
df_canola = df[df.CROP.isin(canola_sel)]
df_canola_nu = df_canola[['FIPS_NO','COUNTY','YEAR','P','K']].copy()
print(df_canola_nu.head())

      FIPS_NO     COUNTY  YEAR     P      K
14175     101  HENDERSON  1991  29.0  200.0
14176     101  HENDERSON  1991  36.0  163.0
14177     101  HENDERSON  1991  43.0  250.0
14178     101  HENDERSON  1991  25.0  163.0
14179     101  HENDERSON  1991  36.0  158.0

#### Canola, Set categories for P and K values to very low, low, medium, high, very high. Base values from AGR-1.

#### Categories for P
    Cat      Title       Break
    -------------------------------------
    VL       very low    P< 10
    L        low         P>= 10 & P<=30
    M        medium      P>30 & P<=60
    H        high        P>60
    
#### Categories for K
    Cat      Title      Break
   --------------------------------------
    VL       very low   K< 104
    L        low        K>=104 & K <=186
    M        medium     K>=187 & K <=300
    H        high       K>300

In [85]:
df_canola_nu['CAT_P'] = ''
df_canola_nu['CAT_P'] = np.where(df_canola_nu.P < 10, 'VL', df_canola_nu.CAT_P)
df_canola_nu['CAT_P'] = np.where(((df_canola_nu.P > 10) & (df_canola_nu.P <= 30)), 'L', df_canola_nu.CAT_P)
df_canola_nu['CAT_P'] = np.where(((df_canola_nu.P > 30) & (df_canola_nu.P <= 60)), 'M', df_canola_nu.CAT_P)
df_canola_nu['CAT_P'] = np.where((df_canola_nu.P > 60), 'H', df_canola_nu.CAT_P)

df_canola_nu['CAT_K'] = ''
df_canola_nu['CAT_K'] = np.where(df_canola_nu.K < 104, 'VL', df_canola_nu.CAT_K)
df_canola_nu['CAT_K'] = np.where(((df_canola_nu.K > 104) & (df_canola_nu.K <= 186)), 'L', df_canola_nu.CAT_K)
df_canola_nu['CAT_K'] = np.where(((df_canola_nu.K > 186) & (df_canola_nu.K <= 300)), 'M', df_canola_nu.CAT_K)
df_canola_nu['CAT_K'] = np.where((df_canola_nu.K > 300), 'H', df_canola_nu.CAT_K)

In [86]:
warnings.filterwarnings("ignore")
df_canola_p = np.round( df_canola_nu.pivot_table(index='COUNTY', columns=['YEAR', 'CAT_P'], values=['P'],aggfunc=(np.average,len),fill_value=0),2)
df_canola_k = np.round( df_canola_nu.pivot_table(index='COUNTY', columns=['YEAR', 'CAT_K'], values=['K'],aggfunc=(np.average,len),fill_value=0),2)

In [87]:
df_canola_p.columns
df_canola_k.columns
df_canola_p.columns = list(map("_".join,df_canola_p.columns))
df_canola_k.columns = list(map("_".join,df_canola_k.columns))
df_canola_p.columns = df_canola_p.columns.str.replace("P_average_", "")
df_canola_p.columns = df_canola_p.columns.str.replace("P_len", "count")
df_canola_k.columns = df_canola_k.columns.str.replace("K_average_","")
df_canola_k.columns = df_canola_k.columns.str.replace("K_len","count")
df_canola_p = df_canola_p.reset_index()
df_canola_k = df_canola_k.reset_index()
file_out_p = fileOut.joinpath('canola_p_levels.csv')  # path and filename
df_canola_p.to_csv(file_out_p, index=False)  # output to csv
file_out_k = fileOut.joinpath('canola_k_levels.csv')  # path and filename
df_canola_k.to_csv(file_out_k, index=False)  # output to csv
print ('total number of records written to CSV:','{:,}'.format(len(df_canola_p)),'\n')
print ('total number of records written to CSV:','{:,}'.format(len(df_canola_k)),'\n')

total number of records written to CSV: 65

total number of records written to CSV: 65

## Sorghum

#### Create list to select Sorghum from database.

In [88]:
sorghum_sel = ['Grain Sorghum']
sorghum_sel.sort()
print(sorghum_sel)

['Grain Sorghum']

#### Select Sorghum from dataset.

In [89]:
df_sorghum = df[df.CROP.isin(sorghum_sel)]
df_sorghum_nu = df_sorghum[['FIPS_NO','COUNTY','YEAR','P','K']].copy()
print(df_sorghum_nu.head())

      FIPS_NO     COUNTY  YEAR      P       K
2237        1      ADAIR  1996   67.0   284.0
2532        1      ADAIR  1997  318.0   303.0
18439     101  HENDERSON  2007   42.0  1281.0
18440     101  HENDERSON  2007  120.0  1499.0
19885     101  HENDERSON  2014   48.0   110.0

#### Sorghum, Set categories for P and K values to very low, low, medium, high, very high. Base values from AGR-1.

#### Categories for P
    Cat      Title       Break
    -------------------------------------
    VL       very low    P< 6
    L        low         P>= 6 & P<=27
    M        medium      P>27 & P<=60
    H        high        P>60
    
#### Categories for K
    Cat      Title      Break
   --------------------------------------
    VL       very low   K< 100
    L        low        K>=100 & K <=190
    M        medium     K>=191 & K <=300
    H        high       K>300

In [90]:
df_sorghum_nu['CAT_P'] = ''
df_sorghum_nu['CAT_P'] = np.where(df_sorghum_nu.P < 6, 'VL', df_sorghum_nu.CAT_P)
df_sorghum_nu['CAT_P'] = np.where(((df_sorghum_nu.P >= 6) & (df_sorghum_nu.P <= 27)), 'L', df_sorghum_nu.CAT_P)
df_sorghum_nu['CAT_P'] = np.where(((df_sorghum_nu.P > 27) & (df_sorghum_nu.P <= 60)), 'M', df_sorghum_nu.CAT_P)
df_sorghum_nu['CAT_P'] = np.where((df_sorghum_nu.P > 60), 'H', df_sorghum_nu.CAT_P)

df_sorghum_nu['CAT_K'] = ''
df_sorghum_nu['CAT_K'] = np.where(df_sorghum_nu.K < 100, 'VL', df_sorghum_nu.CAT_K)
df_sorghum_nu['CAT_K'] = np.where(((df_sorghum_nu.K >= 100) & (df_sorghum_nu.K <= 190)), 'L', df_sorghum_nu.CAT_K)
df_sorghum_nu['CAT_K'] = np.where(((df_sorghum_nu.K > 190) & (df_sorghum_nu.K <= 300)), 'M', df_sorghum_nu.CAT_K)
df_sorghum_nu['CAT_K'] = np.where((df_sorghum_nu.K > 300), 'H', df_sorghum_nu.CAT_K)

In [91]:
warnings.filterwarnings("ignore")
df_sorghum_p = np.round( df_sorghum_nu.pivot_table(index='COUNTY', columns=['YEAR', 'CAT_P'], values=['P'],aggfunc=(np.average,len),fill_value=0),2)
df_sorghum_k = np.round( df_sorghum_nu.pivot_table(index='COUNTY', columns=['YEAR', 'CAT_K'], values=['K'],aggfunc=(np.average,len),fill_value=0),2)

df_sorghum_p.columns
df_sorghum_k.columns
df_sorghum_p.columns = list(map("_".join,df_sorghum_p.columns))
df_sorghum_k.columns = list(map("_".join,df_sorghum_k.columns))
df_sorghum_p.columns = df_sorghum_p.columns.str.replace("P_average_", "")
df_sorghum_p.columns = df_sorghum_p.columns.str.replace("P_len", "count")
df_sorghum_k.columns = df_sorghum_k.columns.str.replace("K_average_","")
df_sorghum_k.columns = df_sorghum_k.columns.str.replace("K_len","count")
df_sorghum_p = df_sorghum_p.reset_index()
df_sorghum_k = df_sorghum_k.reset_index()
file_out_p = fileOut.joinpath('sorghum_p_levels.csv')  # path and filename
df_sorghum_p.to_csv(file_out_p, index=False)  # output to csv
file_out_k = fileOut.joinpath('sorghum_k_levels.csv')  # path and filename
df_sorghum_k.to_csv(file_out_k, index=False)  # output to csv
print ('total number of records written to CSV:','{:,}'.format(len(df_sorghum_p)),'\n')
print ('total number of records written to CSV:','{:,}'.format(len(df_sorghum_k)),'\n')

total number of records written to CSV: 73

total number of records written to CSV: 73

## Small Grains

#### Create list to select Small Grains from database.

In [92]:
smallgrains_sel = ['Barley' , 'Barley/Soybeans', 'Grain Crops (multiple)','Oats','Oats/Soybeans', 'Rye/Soybeans', 'Small Grains', 'Small Grains/Corn', 'Small Grains/Soybeans', 'Triticale', 'Triticale/Soybeans', 'Wheat', 'Wheat/Corn', 'Wheat/Soybeans']
smallgrains_sel.sort()
print(smallgrains_sel)

['Barley', 'Barley/Soybeans', 'Grain Crops (multiple)', 'Oats', 'Oats/Soybeans', 'Rye/Soybeans', 'Small Grains', 'Small Grains/Corn', 'Small Grains/Soybeans', 'Triticale', 'Triticale/Soybeans', 'Wheat', 'Wheat/Corn', 'Wheat/Soybeans']

#### Select Small Grains from dataset.

In [93]:
df_smallgrains = df[df.CROP.isin(smallgrains_sel)]
df_smallgrains_nu = df_smallgrains[['FIPS_NO','COUNTY','YEAR','P','K']].copy()
print(df_smallgrains_nu.head())

     FIPS_NO COUNTY  YEAR     P      K
635        1  ADAIR  1991  16.0  234.0
901        1  ADAIR  1992  51.0  203.0
969        1  ADAIR  1992  29.0  152.0
970        1  ADAIR  1992  15.0  193.0
1333       1  ADAIR  1993  16.0   94.0

#### Small Grains, Set categories for P and K values to very low, low, medium, high, very high. Base values from AGR-1.

#### Categories for P
    Cat      Title       Break
    -------------------------------------
    VL       very low    P< 10
    L        low         P>= 10 & P<=30
    M        medium      P>30 & P<=60
    H        high        P>60
    
#### Categories for K
    Cat      Title      Break
   --------------------------------------
    VL       very low   K< 104
    L        low        K>=104 & K <=186
    M        medium     K>=187 & K <=300
    H        high       K>300

In [94]:
df_smallgrains_nu['CAT_P'] = ''
df_smallgrains_nu['CAT_P'] = np.where(df_smallgrains_nu.P < 10, 'VL', df_smallgrains_nu.CAT_P)
df_smallgrains_nu['CAT_P'] = np.where(((df_smallgrains_nu.P > 10) & (df_smallgrains_nu.P <= 30)), 'L', df_smallgrains_nu.CAT_P)
df_smallgrains_nu['CAT_P'] = np.where(((df_smallgrains_nu.P > 30) & (df_smallgrains_nu.P <= 60)), 'M', df_smallgrains_nu.CAT_P)
df_smallgrains_nu['CAT_P'] = np.where((df_smallgrains_nu.P > 60), 'H', df_smallgrains_nu.CAT_P)

df_smallgrains_nu['CAT_K'] = ''
df_smallgrains_nu['CAT_K'] = np.where(df_smallgrains_nu.K < 104, 'VL', df_smallgrains_nu.CAT_K)
df_smallgrains_nu['CAT_K'] = np.where(((df_smallgrains_nu.K >= 104) & (df_smallgrains_nu.K <= 186)), 'L', df_smallgrains_nu.CAT_K)
df_smallgrains_nu['CAT_K'] = np.where(((df_smallgrains_nu.K > 186) & (df_smallgrains_nu.K <= 300)), 'M', df_smallgrains_nu.CAT_K)
df_smallgrains_nu['CAT_K'] = np.where((df_smallgrains_nu.K > 300), 'H', df_smallgrains_nu.CAT_K)

In [95]:
warnings.filterwarnings("ignore")
df_smallgrains_p = np.round( df_smallgrains_nu.pivot_table(index='COUNTY', columns=['YEAR', 'CAT_P'], values=['P'],aggfunc=(np.average,len),fill_value=0),2)
df_smallgrains_k = np.round( df_smallgrains_nu.pivot_table(index='COUNTY', columns=['YEAR', 'CAT_K'], values=['K'],aggfunc=(np.average,len),fill_value=0),2)

df_smallgrains_p.columns
df_smallgrains_k.columns
df_smallgrains_p.columns = list(map("_".join,df_smallgrains_p.columns))
df_smallgrains_k.columns = list(map("_".join,df_smallgrains_k.columns))
df_smallgrains_p.columns = df_smallgrains_p.columns.str.replace("P_average_", "")
df_smallgrains_p.columns = df_smallgrains_p.columns.str.replace("P_len", "count")
df_smallgrains_k.columns = df_smallgrains_k.columns.str.replace("K_average_","")
df_smallgrains_k.columns = df_smallgrains_k.columns.str.replace("K_len","count")
df_smallgrains_p = df_smallgrains_p.reset_index()
df_smallgrains_k = df_smallgrains_k.reset_index()
file_out_p = fileOut.joinpath('smallgrains_p_levels.csv')  # path and filename
df_smallgrains_p.to_csv(file_out_p, index=False)  # output to csv
file_out_k = fileOut.joinpath('smallgrains_k_levels.csv')  # path and filename
df_smallgrains_k.to_csv(file_out_k, index=False)  # output to csv
print ('total number of records written to CSV:','{:,}'.format(len(df_smallgrains_p)),'\n')
print ('total number of records written to CSV:','{:,}'.format(len(df_smallgrains_k)),'\n')

total number of records written to CSV: 119

total number of records written to CSV: 119

## Tobacco

#### Create list to select Tobacco from database.

In [96]:
tobacco_sel = ['Burley Tobacco', 'Dark Tobacco']
tobacco_sel.sort()
print(tobacco_sel)

['Burley Tobacco', 'Dark Tobacco']

#### Select Tobacco from dataset.

In [99]:
df_tobacco = df[df.CROP.isin(tobacco_sel)]
df_tobacco_nu = df_tobacco[['FIPS_NO','COUNTY','YEAR','P','K']].copy()
print(df_tobacco_nu.head())

   FIPS_NO COUNTY  YEAR      P      K
24       1  ADAIR  1990  282.0  298.0
25       1  ADAIR  1990  206.0  611.0
26       1  ADAIR  1990   71.0  120.0
27       1  ADAIR  1990  124.0  320.0
28       1  ADAIR  1990  300.0  283.0

#### Tobacco, Set categories for P and K values to very low, low, medium, high, very high. Base values from AGR-1.
Combined Burley and Dark Tobacco K into Burley recommendations for K categories.

#### Categories for P
    Cat      Title       Break
    -------------------------------------
    VL       very low    P< 7
    L        low         P>= 7 & P<=28
    M        medium      P>28 & P<=57
    H        high        P>57 & P<=79
    VH       very high   P> 80
    

#### Categories for K
    Cat      Title      Break
   --------------------------------------
    VL       very low   K< 96
    L        low        K>=96 & K <=205
    M        medium     K>205 & K <=303
    H        high       K>303 & K <=449
    VH       very high  K> 450

In [113]:
df_tobacco_nu['CAT_P'] = ''
df_tobacco_nu['CAT_P'] = np.where(df_tobacco_nu.P < 7, 'VL', df_tobacco_nu.CAT_P)
df_tobacco_nu['CAT_P'] = np.where(((df_tobacco_nu.P >= 7) & (df_tobacco_nu.P <= 28)), 'L', df_tobacco_nu.CAT_P)
df_tobacco_nu['CAT_P'] = np.where(((df_tobacco_nu.P > 28) & (df_tobacco_nu.P <= 57)), 'M', df_tobacco_nu.CAT_P)
df_tobacco_nu['CAT_P'] = np.where(((df_tobacco_nu.P > 57) &  (df_tobacco_nu.P <= 79)), 'H', df_tobacco_nu.CAT_P)
df_tobacco_nu['CAT_P'] = np.where(df_tobacco_nu.P > 80, 'VH', df_tobacco_nu.CAT_P)
df_tobacco_nu['CAT_K'] = ''
df_tobacco_nu['CAT_K'] = np.where(df_tobacco_nu.K < 96, 'VL', df_tobacco_nu.CAT_K)
df_tobacco_nu['CAT_K'] = np.where(((df_tobacco_nu.K >= 96) & (df_tobacco_nu.K <= 205)), 'L', df_tobacco_nu.CAT_K)
df_tobacco_nu['CAT_K'] = np.where(((df_tobacco_nu.K > 205) & (df_tobacco_nu.K <= 303)), 'M', df_tobacco_nu.CAT_K)
df_tobacco_nu['CAT_K'] = np.where(((df_tobacco_nu.K > 303) & (df_tobacco_nu.K <= 449)), 'H', df_tobacco_nu.CAT_K)
df_tobacco_nu['CAT_K'] = np.where(df_tobacco_nu.K > 450, 'VH', df_tobacco_nu.CAT_K)

In [114]:
warnings.filterwarnings("ignore")
df_tobacco_p = np.round( df_tobacco_nu.pivot_table(index='COUNTY', columns=['YEAR', 'CAT_P'], values=['P'],aggfunc=(np.average,len),fill_value=0),2)
df_tobacco_k = np.round( df_tobacco_nu.pivot_table(index='COUNTY', columns=['YEAR', 'CAT_K'], values=['K'],aggfunc=(np.average,len),fill_value=0),2)

df_tobacco_p.columns
df_tobacco_k.columns
df_tobacco_p.columns = list(map("_".join,df_tobacco_p.columns))
df_tobacco_k.columns = list(map("_".join,df_tobacco_k.columns))
df_tobacco_p.columns = df_tobacco_p.columns.str.replace("P_average_", "")
df_tobacco_p.columns = df_tobacco_p.columns.str.replace("P_len", "count")
df_tobacco_k.columns = df_tobacco_k.columns.str.replace("K_average_","")
df_tobacco_k.columns = df_tobacco_k.columns.str.replace("K_len","count")
df_tobacco_p = df_tobacco_p.reset_index()
df_tobacco_k = df_tobacco_k.reset_index()
file_out_p = fileOut.joinpath('tobacco_p_levels.csv')  # path and filename
df_tobacco_p.to_csv(file_out_p, index=False)  # output to csv
file_out_k = fileOut.joinpath('tobacco_k_levels.csv')  # path and filename
df_tobacco_k.to_csv(file_out_k, index=False)  # output to csv
print ('total number of records written to CSV:','{:,}'.format(len(df_tobacco_p)),'\n')
print ('total number of records written to CSV:','{:,}'.format(len(df_tobacco_k)),'\n')

total number of records written to CSV: 120

total number of records written to CSV: 120

## Warm Season Grass

#### Create list to select Warm Season Grass from database.

#### Select Warm Season Grass from dataset.

#### Warm Season Grass, Set categories for P and K values to very low, low, medium, high, very high. Base values from AGR-1.

#### Categories for P
    Cat      Title       Break
    -------------------------------------
    VL       very low    P< 10
    L        low         P>= 10 & P<=30
    M        medium      P>30 & P<=60
    H        high        P>60
    
#### Categories for K
    Cat      Title      Break
   --------------------------------------
    VL       very low   K< 104
    L        low        K>=104 & K <=186
    M        medium     K>=187 & K <=300
    H        high       K>300

## Cool Season Grass

#### Create list to select Cool Season Grass from database.

#### Select Cool Season Grass from dataset.

#### Cool Season Grass, Set categories for P and K values to very low, low, medium, high, very high. Base values from AGR-1.

#### Categories for P
    Cat      Title       Break
    -------------------------------------
    VL       very low    P< 10
    L        low         P>= 10 & P<=30
    M        medium      P>30 & P<=60
    H        high        P>60
    
#### Categories for K
    Cat      Title      Break
   --------------------------------------
    VL       very low   K< 104
    L        low        K>=104 & K <=186
    M        medium     K>=187 & K <=300
    H        high       K>300

## Forage

#### Create list to select Forage from database.

#### Select Forage from dataset.

#### Forage, Set categories for P and K values to very low, low, medium, high, very high. Base values from AGR-1.

#### Categories for P
    Cat      Title       Break
    -------------------------------------
    VL       very low    P< 10
    L        low         P>= 10 & P<=30
    M        medium      P>30 & P<=60
    H        high        P>60
    
#### Categories for K
    Cat      Title      Break
   --------------------------------------
    VL       very low   K< 104
    L        low        K>=104 & K <=186
    M        medium     K>=187 & K <=300
    H        high       K>300

## Alfalfa Clover mix

#### Create list to select Alfalfa Clover mix from database.

#### Select Alfalfa Clover mixCanfrom dataset.

#### Alfalfa Clover mix, Set categories for P and K values to very low, low, medium, high, very high. Base values from AGR-1.

#### Categories for P
    Cat      Title       Break
    -------------------------------------
    VL       very low    P< 10
    L        low         P>= 10 & P<=30
    M        medium      P>30 & P<=60
    H        high        P>60
    
#### Categories for K
    Cat      Title      Break
   --------------------------------------
    VL       very low   K< 104
    L        low        K>=104 & K <=186
    M        medium     K>=187 & K <=300
    H        high       K>300