# Wrangling Soil Test data from University of Kentucky's Soil Lab

Use Microsoft Access to export data into CSV text file with FIPS code add and quary to select just County by County name. Export as soildata_fips.txt.

#### import python libraries

In [116]:
import pandas as pd
import numpy as np
from pathlib import Path
import warnings

#### set file path to get data to work on

In [117]:
filePath = Path('data')
file_soil = filePath.joinpath('soildata_fips.txt')

#### Read data into pandas

In [118]:
soil = pd.read_csv(file_soil, dtype='str')

#### Check that file is read into memory

In [119]:
soil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190126 entries, 0 to 1190125
Data columns (total 14 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   FIPS_NO  1190126 non-null  object
 1   YEAR     1190126 non-null  object
 2   FM       1190052 non-null  object
 3   COUNTY   1190126 non-null  object
 4   AREA     1190126 non-null  object
 5   PH       1187607 non-null  object
 6   BUPH     1056246 non-null  object
 7   P        1187473 non-null  object
 8   K        1187494 non-null  object
 9   CA       969266 non-null   object
 10  MG       969725 non-null   object
 11  ZN       967041 non-null   object
 12  ACRES    525128 non-null   object
 13  CROP     1183431 non-null  object
dtypes: object(14)
memory usage: 127.1+ MB

In [120]:
soil.tail()

,FIPS_NO,YEAR,FM,COUNTY,AREA,PH,BUPH,P,K,CA,MG,ZN,ACRES,CROP
1190121,239.00,2019.00,A,WOODFORD,Bluegrass,5.00,6.30,62.00,319.00,1489.00,223.00,3.50,1.00,Wildlife Food Plot
1190122,239.00,2019.00,A,WOODFORD,Bluegrass,5.90,6.70,46.00,257.00,5247.00,268.00,2.10,2.00,Wildlife Food Plot
1190123,239.00,2019.00,A,WOODFORD,Bluegrass,6.80,7.00,75.00,243.00,12047.00,281.00,1.20,2.00,Wildlife Food Plot
1190124,239.00,2019.00,A,WOODFORD,Bluegrass,5.30,6.60,60.00,407.00,3304.00,396.00,2.80,NaN,Wildlife Food Plot
1190125,239.00,2019.00,A,WOODFORD,Bluegrass,5.00,6.30,59.00,377.00,4341.00,349.00,2.00,1.50,Wildlife Food Plot

#### Need to convert FIPS_NO and Year to an Integer. Convert PH, BUPH, P, K, and Acres into Float type.

In [121]:
df = soil.copy()

In [122]:
df.FIPS_NO = df.FIPS_NO.astype('float')
df.YEAR = df.YEAR.astype('float')
df.PH = df.PH.astype('float')
df.BUPH = df.BUPH.astype('float')
df.P = df.P.astype('float')
df.K = df.K.astype('float')
df.ACRES = df.ACRES.astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190126 entries, 0 to 1190125
Data columns (total 14 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   FIPS_NO  1190126 non-null  float64
 1   YEAR     1190126 non-null  float64
 2   FM       1190052 non-null  object
 3   COUNTY   1190126 non-null  object
 4   AREA     1190126 non-null  object
 5   PH       1187607 non-null  float64
 6   BUPH     1056246 non-null  float64
 7   P        1187473 non-null  float64
 8   K        1187494 non-null  float64
 9   CA       969266 non-null   object
 10  MG       969725 non-null   object
 11  ZN       967041 non-null   object
 12  ACRES    525128 non-null   float64
 13  CROP     1183431 non-null  object
dtypes: float64(7), object(7)
memory usage: 127.1+ MB

#### First need to convert FIPS_NO and YEAR into Float type before they can be converted into int32.

In [123]:
df.FIPS_NO = df.FIPS_NO.astype('int32')
df.YEAR = df.YEAR.astype('int32')

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190126 entries, 0 to 1190125
Data columns (total 14 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   FIPS_NO  1190126 non-null  int32
 1   YEAR     1190126 non-null  int32
 2   FM       1190052 non-null  object
 3   COUNTY   1190126 non-null  object
 4   AREA     1190126 non-null  object
 5   PH       1187607 non-null  float64
 6   BUPH     1056246 non-null  float64
 7   P        1187473 non-null  float64
 8   K        1187494 non-null  float64
 9   CA       969266 non-null   object
 10  MG       969725 non-null   object
 11  ZN       967041 non-null   object
 12  ACRES    525128 non-null   float64
 13  CROP     1183431 non-null  object
dtypes: float64(5), int32(2), object(7)
memory usage: 118.0+ MB

#### Drop CA, MG, ZN

In [125]:
df = df.drop(['CA','MG','ZN'], axis=1)

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1190126 entries, 0 to 1190125
Data columns (total 11 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   FIPS_NO  1190126 non-null  int32
 1   YEAR     1190126 non-null  int32
 2   FM       1190052 non-null  object
 3   COUNTY   1190126 non-null  object
 4   AREA     1190126 non-null  object
 5   PH       1187607 non-null  float64
 6   BUPH     1056246 non-null  float64
 7   P        1187473 non-null  float64
 8   K        1187494 non-null  float64
 9   ACRES    525128 non-null   float64
 10  CROP     1183431 non-null  object
dtypes: float64(5), int32(2), object(4)
memory usage: 90.8+ MB

#### Check the maximum and minimum values for P and K

In [127]:
print("max P =", df.P.max(), "min P =",df.P.min())
print("max K" , df.K.max(), "min K =", df.K.min())

max P = 21658.0 min P = -9.0
max K 60452.0 min K = -26.0

#### Remove values less than zero and above 9999

In [128]:
df = df[~(df['P'] < 0)]
df = df[~(df['K'] < 0)]
df = df[~(df['P'] >= 9999)]
df = df[~(df['K'] >= 9999)]

In [129]:
print("max P =", df.P.max(), "min P =",df.P.min())
print("max K" , df.K.max(), "min K =", df.K.min())

max P = 9778.0 min P = 0.0
max K 9964.0 min K = 1.0

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1189835 entries, 0 to 1190125
Data columns (total 11 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   FIPS_NO  1189835 non-null  int32
 1   YEAR     1189835 non-null  int32
 2   FM       1189761 non-null  object
 3   COUNTY   1189835 non-null  object
 4   AREA     1189835 non-null  object
 5   PH       1187330 non-null  float64
 6   BUPH     1055974 non-null  float64
 7   P        1187182 non-null  float64
 8   K        1187203 non-null  float64
 9   ACRES    525035 non-null   float64
 10  CROP     1183141 non-null  object
dtypes: float64(5), int32(2), object(4)
memory usage: 99.9+ MB

#### Select agricultural "A" and commercial "C" types from FM column. Append df together.

In [131]:
df1 = df.loc[(df['FM'] == 'A')]
df2 = df.loc[(df['FM'] == 'C')]
df3 = df1.append(df2, ignore_index=True)

In [132]:
print(df1.info())
print(df2.info())
print(df3.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 941637 entries, 0 to 1190125
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   FIPS_NO  941637 non-null  int32
 1   YEAR     941637 non-null  int32
 2   FM       941637 non-null  object
 3   COUNTY   941637 non-null  object
 4   AREA     941637 non-null  object
 5   PH       940288 non-null  float64
 6   BUPH     836405 non-null  float64
 7   P        940284 non-null  float64
 8   K        940295 non-null  float64
 9   ACRES    511570 non-null  float64
 10  CROP     938347 non-null  object
dtypes: float64(5), int32(2), object(4)
memory usage: 79.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 21910 entries, 153 to 1190012
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   FIPS_NO  21910 non-null  int32
 1   YEAR     21910 non-null  int32
 2   FM       21910 non-null  object
 3   COUNTY   21910 non-null  object
 4   AREA     21910 non-null  object
 5   PH       21882 non-null  float64
 6   BUPH     20540 non-null  float64
 7   P        21881 non-null  float64
 8   K        21883 non-null  float64
 9   ACRES    7362 non-null   float64
 10  CROP     21858 non-null  object
dtypes: float64(5), int32(2), object(4)
memory usage: 1.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 963547 entries, 0 to 963546
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   FIPS_NO  963547 non-null  int32
 1   YEAR     963547 non-null  int32
 2   FM       963547 non-null  object
 3   COUNTY   963547 non-null  object
 4   AREA     963547 non-null  object
 5   PH       962170 non-null  float64
 6   BUPH     856945 non-null  float64
 7   P        962165 non-null  float64
 8   K        962178 non-null  float64
 9   ACRES    518932 non-null  float64
 10  CROP     960205 non-null  object
dtypes: float64(5), int32(2), object(4)
memory usage: 73.5+ MB
None

#### Drop null values from CROP, P, K.

In [133]:
df3.drop(df3[df3['CROP'].isnull()].index, inplace=True)
df3.drop(df3[df3['P'].isnull()].index, inplace=True)
df3.drop(df3[df3['K'].isnull()].index, inplace=True)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 958826 entries, 0 to 963546
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   FIPS_NO  958826 non-null  int32
 1   YEAR     958826 non-null  int32
 2   FM       958826 non-null  object
 3   COUNTY   958826 non-null  object
 4   AREA     958826 non-null  object
 5   PH       958813 non-null  float64
 6   BUPH     854104 non-null  float64
 7   P        958826 non-null  float64
 8   K        958826 non-null  float64
 9   ACRES    517097 non-null  float64
 10  CROP     958826 non-null  object
dtypes: float64(5), int32(2), object(4)
memory usage: 80.5+ MB

#### Resort and index dataframe.

In [134]:
df = df3[['FIPS_NO','COUNTY','AREA','YEAR','CROP','ACRES', 'PH', 'BUPH', 'P', 'K', ]]
order_by_cols = ['FIPS_NO','YEAR','CROP']
df = df.sort_values(by=order_by_cols, ascending=[True,True,True]).copy()
df.reset_index(drop=True,inplace=True)
df.head()

,FIPS_NO,COUNTY,AREA,YEAR,CROP,ACRES,PH,BUPH,P,K
0,1,ADAIR,Eastern Pennyroyal,1990,Alfalfa,18.0,7.15,7.23,28.0,158.0
1,1,ADAIR,Eastern Pennyroyal,1990,Alfalfa,15.0,6.95,7.22,88.0,134.0
2,1,ADAIR,Eastern Pennyroyal,1990,Alfalfa,16.0,6.26,6.94,70.0,256.0
3,1,ADAIR,Eastern Pennyroyal,1990,Alfalfa,6.0,5.67,6.69,161.0,611.0
4,1,ADAIR,Eastern Pennyroyal,1990,Alfalfa,25.0,7.26,7.47,105.0,315.0

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958826 entries, 0 to 958825
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   FIPS_NO  958826 non-null  int32
 1   COUNTY   958826 non-null  object
 2   AREA     958826 non-null  object
 3   YEAR     958826 non-null  int32
 4   CROP     958826 non-null  object
 5   ACRES    517097 non-null  float64
 6   PH       958813 non-null  float64
 7   BUPH     854104 non-null  float64
 8   P        958826 non-null  float64
 9   K        958826 non-null  float64
dtypes: float64(5), int32(2), object(3)
memory usage: 65.8+ MB

#### Find unique CROP types.

In [136]:
croptypes = df.CROP.unique()
croptypes

array(['Alfalfa', 'Alfalfa/Cool Season', 'Burley Tobacco', 'Clover/Grass',
       'Cole Crops (broccoli, etc.)', 'Corn', 'Corn, Sweet', 'Cucumbers',
       'Fescue', 'No Info Given', 'Orchardgrass', 'Other Vegetables',
       'Peppers (bell & pimento)', 'Red Clover', 'Timothy', 'Tomatoes',
       'White Clover', 'White Clover/Grass', 'Rye', 'Soybeans',
       'Tobacco Beds', 'Wheat', 'Oats', 'Red Clover/Grass',
       'Warm Season Grass', 'Blueberries', 'Fescue/Lespedeza (multiple)',
       'Forage Sorghum', 'Strawberries', 'Cool Season Grass',
       'Evergreen Shrubs, Broadleaved', 'Sudangrass',
       'Timothy/Red Clover', 'Lespedeza', 'Other Fruit & Nuts',
       'Small Grains/Corn', 'Small Grains/Soybeans', 'Squash & Pumpkins',
       'Birdsfoot Trefoil', 'Grain Sorghum', 'Lespedeza/Grass', 'Annuals',
       'Fescue/Lespedeza', 'Forage Crops', 'Millet',
       'Orchardgrass/Red Clover', 'Apples', 'Grapes', 'Peaches',
       'Small Grains', 'Bermudagrass, common', 'Sweet Potatoes', 'Other',
       'Azaleas', 'Brambles', 'Wheat/Soybeans', 'Potatoes',
       'Warm Season Annual Grass', 'Bermudagrass, improved', 'Sunflower',
       'Fescue/White Clover', 'Sorghum/Sudangras', 'Cherries, Tart',
       'Pears', 'Watermelons', 'Root Crops (beets, carrots,etc.)',
       'Switchgrass', 'Muskmelons (cantaloupes)',
       'Native Grassland Restoration', 'Wildlife Food Plot',
       'Beans (snap,dry,lima,etc.)', 'Greens (collards, kale, etc.)',
       'Okra', 'Asparagus', 'Eggplant', 'Hemp', 'Rhubarb',
       'Sorghum Sudangrass', 'Dark Tobacco', 'Deciduous Shrubs',
       'Grain Crops (multiple)', 'Pecans', 'Southern Peas', 'Bluestem',
       'Warm Season Native Grass', 'Triticale', 'Crownvetch', 'Bluegrass',
       'Perrenials (not bulbs)', 'Deciduous Trees', 'Walnuts',
       'Side-oats grama', 'Canola/Soybeans', 'Cool Peas',
       'Onions (green & bulb)', 'Conifers, pines',
       'Orchardgrass/White Clover', 'Canola', 'Rye/Soybeans',
       'Barley/Soybeans', 'Other Nursery plants',
       'Evergreen Trees, Broadleaved', 'Oats/Soybeans', 'Indiangrass',
       'Other Flowers', 'Conifers (not pines or junipers)', 'Hollies',
       'Conifers, junipers', 'Bluegrass/White Clover', 'Bulbs', 'Barley',
       'Wheat/Corn', 'Currants and Gooseberries', 'Triticale/Soybeans',
       'Buffer or Filter Strip', 'Rhododendrons', 'Plums', 'Unknown'],
      dtype=object)

## Select CROP based on AGR-1 crop types.

### Corn

In [137]:
df_corn = df.loc[(df['CROP'] == 'Corn')]
print(df_corn.info())
df_corn.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173155 entries, 155 to 958722
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   FIPS_NO  173155 non-null  int32
 1   COUNTY   173155 non-null  object
 2   AREA     173155 non-null  object
 3   YEAR     173155 non-null  int32
 4   CROP     173155 non-null  object
 5   ACRES    89557 non-null   float64
 6   PH       173155 non-null  float64
 7   BUPH     148991 non-null  float64
 8   P        173155 non-null  float64
 9   K        173155 non-null  float64
dtypes: float64(5), int32(2), object(3)
memory usage: 13.2+ MB
None

,FIPS_NO,COUNTY,AREA,YEAR,CROP,ACRES,PH,BUPH,P,K
155,1,ADAIR,Eastern Pennyroyal,1990,Corn,15.0,7.13,7.29,37.0,146.0
156,1,ADAIR,Eastern Pennyroyal,1990,Corn,12.0,7.24,7.29,93.0,105.0
157,1,ADAIR,Eastern Pennyroyal,1990,Corn,27.0,5.91,6.85,25.0,252.0
158,1,ADAIR,Eastern Pennyroyal,1990,Corn,14.0,5.81,6.74,24.0,121.0
159,1,ADAIR,Eastern Pennyroyal,1990,Corn,7.0,5.39,6.67,92.0,283.0

#### Create dataframe for nutrients phosphorus (P) and potassium (K).

In [138]:
df_corn_p = df_corn[['COUNTY','YEAR','P']].copy()
df_corn_k = df_corn[['COUNTY','YEAR','K']].copy()
print(df_corn_p.head())
print(df_corn_k.head())

    COUNTY  YEAR     P
155  ADAIR  1990  37.0
156  ADAIR  1990  93.0
157  ADAIR  1990  25.0
158  ADAIR  1990  24.0
159  ADAIR  1990  92.0
    COUNTY  YEAR      K
155  ADAIR  1990  146.0
156  ADAIR  1990  105.0
157  ADAIR  1990  252.0
158  ADAIR  1990  121.0
159  ADAIR  1990  283.0

#### Set categories for P and K values to very low, low, medium, high, very high. Base values from AGR-1.

#### Categories for P
        Cat      Title       Break
        -------------------------------------
        VL       very low    P<= 5
        L        low         P>5 & P<=27
        M        medium      P>27 & P<=60
        H        high        P>60

#### Categories for K
        Cat      Title      Break
       --------------------------------------
        VL       very low   K< 100
        L        low        K>=100 & K <=190
        M        medium     K>=191 & K <=300
        H        high       K>=301 & K <=420
        VH       very high  K>420

In [139]:
df_corn_p['CAT_P'] = ''
df_corn_p['CAT_P'] = np.where(df_corn_p.P <= 5, 'VL', df_corn_p.CAT_P)
df_corn_p['CAT_P'] = np.where(((df_corn_p.P > 5) & (df_corn_p.P <= 27)), 'L', df_corn_p.CAT_P)
df_corn_p['CAT_P'] = np.where(((df_corn_p.P > 27) & (df_corn_p.P <= 60)), 'M', df_corn_p.CAT_P)
df_corn_p['CAT_P'] = np.where((df_corn_p.P > 60), 'H', df_corn_p.CAT_P)
df_corn_p.head()

    COUNTY  YEAR     P CAT_P
155  ADAIR  1990  37.0     M
156  ADAIR  1990  93.0     H
157  ADAIR  1990  25.0     L
158  ADAIR  1990  24.0     L
159  ADAIR  1990  92.0     H

In [140]:
df_corn_k['CAT_K'] = ''
df_corn_k['CAT_K'] = np.where(df_corn_k.K <= 100, 'VL', df_corn_k.CAT_K)
df_corn_k['CAT_K'] = np.where(((df_corn_k.K > 100) & (df_corn_k.K <= 190)), 'L', df_corn_k.CAT_K)
df_corn_k['CAT_K'] = np.where(((df_corn_k.K > 190) & (df_corn_k.K <= 300)), 'M', df_corn_k.CAT_K)
df_corn_k['CAT_K'] = np.where(((df_corn_k.K > 300) & (df_corn_k.K <= 420)), 'H', df_corn_k.CAT_K)
df_corn_k['CAT_K'] = np.where((df_corn_k.K > 420), 'VH', df_corn_k.CAT_K)
df_corn_k.head()

    COUNTY  YEAR      K CAT_K
155  ADAIR  1990  146.0     L
156  ADAIR  1990  105.0     L
157  ADAIR  1990  252.0     M
158  ADAIR  1990  121.0     L
159  ADAIR  1990  283.0     M

#### Create pivot table to sort categories by year and County for each nutrient.

In [141]:
warnings.filterwarnings("ignore")
df_corn_p = np.round( df_corn_p.pivot_table(index='COUNTY', columns=['YEAR', 'CAT_P'], values=['P'],aggfunc=(np.average,len),fill_value=0),2)
df_corn_k = np.round( df_corn_k.pivot_table(index='COUNTY', columns=['YEAR', 'CAT_K'], values=['K'],aggfunc=(np.average,len),fill_value=0),2)
print(df_corn_p.head())
print(df_corn_k.head())
df_corn_p.head()

               P                                                               \
         average
YEAR        1990                       1991                       1992
CAT_P          H      L      M   VL       H      L      M   VL       H      L
COUNTY
ADAIR     119.47  17.50  39.91  0.0  171.62  21.00  45.75  0.0  138.56  23.25
ALLEN     115.67  17.00  42.67  0.0  130.78  18.25  44.50  0.0  147.89  19.20
ANDERSON  244.80  10.67  55.00  5.0  333.94  22.00  44.78  0.0  290.56  20.00
BALLARD   109.08   0.00  48.25  0.0  108.33  18.50  42.79  0.0  107.22  20.50
BARREN    121.90  18.11  42.50  0.0  120.20  14.22  42.66  0.0  130.43  17.67

          ...
          ...  len
YEAR      ... 2017    2018           2019
CAT_P     ...    M VL    H  L   M VL    H   L   M VL
COUNTY    ...
ADAIR     ...   20  0   31  7  28  0   51  11  15  1
ALLEN     ...    4  0    1  0   2  0    1   4   2  0
ANDERSON  ...    0  0    2  2   2  0    8   0   1  0
BALLARD   ...   10  0    7  0  17  0   12   4  23  0
BARREN    ...    4  0   10  3   9  0    2   1   8  1

[5 rows x 240 columns]
               K                                                        \
         average
YEAR        1990                                  1991
CAT_K          H       L       M      VH    VL       H       L       M
COUNTY
ADAIR     357.67  139.42  252.67  439.00  89.5  360.20  143.25  241.83
ALLEN     362.50  141.60  252.62  519.00  58.0  329.55  173.33  250.94
ANDERSON  367.00  150.40  266.00  525.50  89.0  335.11  174.33  243.36
BALLARD   335.00  159.80  251.64  501.00   0.0  339.00  170.88  243.43
BARREN    352.28  163.33  243.41  485.22   0.0  347.21  156.61  242.31

                        ...
                        ...  len
YEAR                    ... 2018               2019
CAT_K         VH    VL  ...    H   L   M VH VL    H   L   M VH VL
COUNTY                  ...
ADAIR     527.00  88.5  ...    6  20  33  1  6    7  35  28  0  8
ALLEN     498.40   0.0  ...    0   0   2  0  1    0   4   1  0  2
ANDERSON  629.00   0.0  ...    0   1   3  1  1    0   5   3  1  0
BALLARD   501.00   0.0  ...    3   5  15  1  0    1  14  24  0  0
BARREN    486.05  79.0  ...    7   4   8  3  0    5   2   3  1  1

[5 rows x 300 columns]

               P                                                               \
         average
YEAR        1990                       1991                       1992
CAT_P          H      L      M   VL       H      L      M   VL       H      L
COUNTY
ADAIR     119.47  17.50  39.91  0.0  171.62  21.00  45.75  0.0  138.56  23.25
ALLEN     115.67  17.00  42.67  0.0  130.78  18.25  44.50  0.0  147.89  19.20
ANDERSON  244.80  10.67  55.00  5.0  333.94  22.00  44.78  0.0  290.56  20.00
BALLARD   109.08   0.00  48.25  0.0  108.33  18.50  42.79  0.0  107.22  20.50
BARREN    121.90  18.11  42.50  0.0  120.20  14.22  42.66  0.0  130.43  17.67

          ...
          ...  len
YEAR      ... 2017    2018           2019
CAT_P     ...    M VL    H  L   M VL    H   L   M VL
COUNTY    ...
ADAIR     ...   20  0   31  7  28  0   51  11  15  1
ALLEN     ...    4  0    1  0   2  0    1   4   2  0
ANDERSON  ...    0  0    2  2   2  0    8   0   1  0
BALLARD   ...   10  0    7  0  17  0   12   4  23  0
BARREN    ...    4  0   10  3   9  0    2   1   8  1

[5 rows x 240 columns]

## Unpivot table and save to CSV file

#### Create column names from pivot table data

In [142]:
df_corn_p.columns

MultiIndex([('P', 'average', 1990,  'H'),
            ('P', 'average', 1990,  'L'),
            ('P', 'average', 1990,  'M'),
            ('P', 'average', 1990, 'VL'),
            ('P', 'average', 1991,  'H'),
            ('P', 'average', 1991,  'L'),
            ('P', 'average', 1991,  'M'),
            ('P', 'average', 1991, 'VL'),
            ('P', 'average', 1992,  'H'),
            ('P', 'average', 1992,  'L'),
            ...
            ('P',     'len', 2017,  'M'),
            ('P',     'len', 2017, 'VL'),
            ('P',     'len', 2018,  'H'),
            ('P',     'len', 2018,  'L'),
            ('P',     'len', 2018,  'M'),
            ('P',     'len', 2018, 'VL'),
            ('P',     'len', 2019,  'H'),
            ('P',     'len', 2019,  'L'),
            ('P',     'len', 2019,  'M'),
            ('P',     'len', 2019, 'VL')],
           names=[None, None, 'YEAR', 'CAT_P'], length=240)

In [144]:
df_corn_p.columns = list(map("_".join,df_corn_p.columns))
df_corn_k.columns = list(map("_".join,df_corn_k.columns))

TypeError: sequence item 2: expected str instance, int found